.cards {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #D9D9D9;
    width: min(80vw, 700px);
    height: min(20vw, 200px);
    transition: all 0.2s ease;
}

.cards:hover {
    transform: scale(105%);
    cursor: pointer;
}

#cursos_sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#title_cursos {
    font-size: min(3vw, 30px);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#cursos_btn {
    display: flex;
    gap: 20px;
    padding-bottom: 3vw;

}

.btn_cursos_filtro {
    width: min(10vw, 300px);
    height: min(3vw, 80px);
    font-size: min(1.5vw, 20px);
    border: none;
    border-radius: 0.5vw;
}

#btn_websites_cursos {
    background-color: #0E402D;
    color: #9FCC2E;
}

#btn_websites_cursos:hover {
    background-color: #166144;
    color: #9bc238;
    cursor: pointer;
}

#btn_matematica_cursos,
#btn_outros_cursos {
    background-color: #9FCC2E;
    color: #0E402D;
}

#btn_matematica_cursos:hover,
#btn_outros_cursos:hover {
    background-color: #7b9e24;
    color: #0e3a29;
    cursor: pointer;
}

.imagem_cursos {
    width: min(20vw, 200px);
    height: auto;
}

.cursos_title,
.cursos_prof_nome,
.cursos_descr,
.cursos_quant_review,
.cursos_preço {
    margin: 0.5vw 1vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cursos_estrelas {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.cursos_pontuação {
    margin: 0 0.5vw 0 1vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cursos_title {
    font-size: min(2vw, 20px);
}

.cursos_prof_nome {
    font-size: min(1.5vw, 15px);
    color: #505050;
}

.cursos_descr {
    font-size: min(1.7vw, 17px);
}

.cursos_pontuação,
.cursos_quant_review {
    font-size: min(1.5vw, 17px);
}

.cursos_estrelas {
    width: min(17vw, 220px);
    height: min(2vw, 200px);
}

.cursos_preço {
    font-size: min(2vw, 20px);
    margin: 10px 1vw;
    font-weight: bold;
}

#card_area {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.bolinha {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
}

#paginas_bolinhas {
    padding-top: 2vw;
    display: flex;
    gap: 20px;

}

.selected_b {
    background-color: black;
}

.bolinha:hover {
    cursor: pointer;
}

.unselected_b {
    background-color: rgb(85, 85, 85);
}