#mensagens {
    padding: 0 0 50px 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;

}

#titulo_mensagens {
    font-size: min(3vw, 30px);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#cards_mensagem {
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#foto_julio {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.card_mesagem {
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 10px 20px;
    width: 25vw;
    height: 250px;
    background-color: #D9D9D9;
}

.aspas,
.mensagem_texto,
.mensagens_nome,
.mensagens_inst {
    margin: 5px;
}

.aspas {
    font-size: 50px;
    line-height: 20px;
}

.mensagem_texto {
    font-size: min(2vw, 20px);
}

#card_mensagem_baixo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    margin: 20px 0;
    display: flex;
    flex-flow: row;
    gap: 10px;
    align-items: center;
}

.mensagens_nome {
    font-size: 20px;
}

.mensagens_inst {
    font-size: 15px;
    color: rgb(75, 75, 75);
}