#planos {
    padding: 0 0 50px 0;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-image: radial-gradient(#24A675, #1C7B57);
}

#superior_card_planos {
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: #559CAD;
    justify-self: start;
    align-self: flex-start;
}

#superior_card_basico {
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: #8CAE36;
    justify-self: start;
    align-self: flex-start;
}

#superior_card_premium {
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: #4A5899;
    justify-self: start;
    align-self: flex-start;
}

#planos_titulo {
    color: white;
    font-size: min(3vw, 30px);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 40px;
}

.bonus_cont {
    display: flex;
    gap: 20px;
    align-items: center;
}

#bonus_containers {
    display: flex;
    flex-flow: column;
    gap: 20px;
}

.svg_bonus {
    width: 25px;
    height: 25px;
}

#plano_pro {
    height: 450px;
    border-radius: 10px;
    background-color: white;
    width: 300px;
    display: flex;
    gap: 30px;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

#plano_pro:hover {
    transform: scale(101%);
}

.preço_plano,
.nome_plano {
    padding-left: 10px;
    margin: 5px;
    color: white;

}

.nome_plano {
    font-size: 15px;
}

.preço_plano {
    font-size: 30px;
}

.mes_span {
    font-size: 15px;
}

.bonus {
    font-size: 15px;
}

#botão_pro {
    border-radius: 10px;
    border: none;
    background-color: #559CAD;
    width: 80%;
    height: 40px;
    font-size: 15px;
    margin: 0 0 20px 0;
}

#botão_pro:hover {
    background-color: #4b8796;
    cursor: pointer;
}

#botão_basico {
    border-radius: 10px;
    border: none;
    background-color: #8CAE36;
    width: 80%;
    height: 40px;
    font-size: 15px;
    margin: 0 0 20px 0;
}

#botão_basico:hover {
    background-color: #76942c;
    cursor: pointer;
}

#botão_premium {
    border-radius: 10px;
    border: none;
    background-color: #4A5899;
    width: 80%;
    height: 40px;
    font-size: 15px;
    margin: 0 0 20px 0;
    color: white;
}

#botão_premium:hover {
    background-color: #3e4a81;
    cursor: pointer;
}

#planos_area_cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 20px;
}