@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');


body {
    padding: 0;
    margin: 0;
    max-width: 100vw;
    overflow-x: hidden;
    height: 500vh;
}

:root {
    --COR-PRINCIPAL: #9FCC2E;
    --LOGO-COLOR: #002DFF;
}

#header {
    position: absolute;
    display: flex;
    justify-content: space-around;
    background-color: var(--COR-PRINCIPAL);
    height: min(40px, 5vw);
    width: 100%;
    z-index: 4;
}

#inicio_btn {
    margin: 0;
}

#cont_parte_1_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10vw;
    z-index: 4;
}

#cont_parte_2_header {
    padding-left: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    z-index: 4;
}

#Logo {
    position: absolute;
    font-size: min(2.5vw, 30px);
    left: 50vw;
    font-family: "Irish Grover", system-ui;
    color: var(--LOGO-COLOR);
}

#Logo:hover {
    cursor: pointer;
}

.head_btn {
    font-size: min(20px, 2vw);
    color: #0E402D;
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#inicio_btn {
    text-decoration: none;
}

.head_btn:hover {
    cursor: pointer;
}

#pesquisar {
    height: min(3vw, 25px);
    width: 25vw;
    border: none;
    border-radius: 5px;
    background-color: #D1FFAA;
    padding: 3px;

}

#pesquisar::placeholder {
    font-size: min(1.5vw, 15px);
}